<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Dashboard</title>

    <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;700&display=swap" rel="stylesheet"> 
	<link href="https://fonts.googleapis.com/css2?family=Sen:wght@700&display=swap" rel="stylesheet"> 
</head>
<body>
    <div id="side-bar">
        <div id="profile-image" style='background-image: url("../static/thee.jpg");'></div>
        <ul>
            <li class="clickable">My topics</li>
            <li class="clickable">My ideas</li>
            <li class="clickable">Settings</li>
        </ul>
    </div>
    <div id="main">
        <h1>{{user.name}}'s dashboard</h1>
        <p>
            Here you will find all sorts of settings to 
            customize your account. <br>
            Click on the '+' sign below to add a new idea!
        </p>

        <div id="search">
            <input type="text" name="search_form" id="search_form" spellcheck="false">
            <img src="/static/search_black.png" alt="search icon" class="clickable">
        </div>

        <div id="panel">
            <ul id='ideas'>
                <li>
                    Barbell rows:
                        - feet placement: hips - feet - shoulder
                        - bar lay on midfoot
                        - grab bar outside of width of your knees (can experiment on this, wide=upper narrow=lats)
                </li>
                <li>
                    English:
                        - find polycopies (check e-cours everyday)
                        - find courses outline and search for them online
                        - review and get done with subjects as soon as possible
                </li>
                <li>
                    To-buy:
                        - batteries
                        - HDMI
                        - make posters of python thingies and stick it to the wall
                </li>
            </ul>
            <input type="submit" value="Save" class="clickable">
        </div>
    </div>
    <div id="add" class="clickable">
        <img src="/static/plus_sign_black.png" alt="plus-sign">
    </div>
</body>
</html>