<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Dashboard</title>

    <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;700&display=swap" rel="stylesheet"> 
	<link href="https://fonts.googleapis.com/css2?family=Sen:wght@700&display=swap" rel="stylesheet"> 
</head>
<body>
    <div id="side-bar">
        <div id="profile-image" style="background-image: url({{ url_for('static', filename=settings['profile-image']) }});"></div>
        <ul>
            <li class="clickable">My topics</li>
            <li class="clickable">My ideas</li>
            <li class="clickable">Settings</li>
        </ul>
    </div>
    <div id="main">
        <h1>{{settings.name}}'s dashboard</h1>
        <p>
            Here you will find all sorts of settings to 
            customize your account. <br>
            Click on the '+' sign below to add a new idea!
        </p>

        <div id="search">
            <input type="text" name="search_form" id="search_form" spellcheck="false">
            <img src="/static/search_black.png" alt="search icon" class="clickable">
        </div>

        <div id="panel">
            <ul id='ideas'>
                {% for topic in content %}
                    <h2>{{ topic }} :</h2>
                    {% for idea in content[topic] %}
                        {% if idea %}
                            <li>{{ idea }}</li>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </ul>
            <button onclick="toggle_add_new_idea_menu()" class="clickable">New idea</button>
        </div>
    </div>
    <div id="add" class="clickable">
        <img src="/static/plus_sign_black.png" alt="plus-sign">
    </div>
    <div id="new-idea">
        <h1>Add a new idea:</h1>
        <form id='idea-form' action="" method="POST">
            <label for="idea">Idea: </label>
            <input type="text" name="idea" id="idea" spellcheck="false">
            <br>
            <label for="topic">Topic: </label>
            <input type="text" name="topic" id="topic" spellcheck="false">
            <br>
            <input type="submit" value="Add" id='add-idea' class='clickable' onclick="document.getElementById('idea-form').submit();">
            <button id="close" class='clickable' id='close-idea-menu' onclick="toggle_add_new_idea_menu()">Close</button>
        </form>
    </div>
    <script>
        document.getElementById('idea-form').addEventListener('submit', (event)=>{
            event.preventDefault();
        })

        function toggle_add_new_idea_menu() {

            let new_idea = document.getElementById("new-idea");
            let side_bar = document.getElementById("side-bar");
            let main = document.getElementById("main");
            
            if (new_idea.style.display === "none") {
                new_idea.style.display = "block";
                side_bar.style.webkitFilter = "blur(2px)";
                main.style.webkitFilter = "blur(2px)";
            } else {
                new_idea.style.display = "none";
                side_bar.style.webkitFilter = "blur(0)";
                main.style.webkitFilter = "blur(0)";
            }
        } 

        search_bar = document.getElementById('search_form');
        search_bar.oninput = () => {
            let ancestor = document.getElementById('ideas'),
                descendents = ancestor.getElementsByTagName('*');
            for (i=0; i< descendents.length; ++i){ 
                if (!descendents[i].innerHTML.includes(search_bar.value) & descendents[i].tagName == 'LI'){
                    descendents[i].style.display = 'none';
                }
                else{
                    descendents[i].style.display = 'block';
                }
            }
        };
    </script>
</body>
</html>